@model IEnumerable<AppTareas.Models.View_models.TiposServiciosViewModel>
<div class="container d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg p-4">
            <h4 class="text-center mb-4 text-info">Eliminar servicio</h4>
            <form asp-action="Enviar" method="post">
                <!-- Tipo de servicio -->
                <div class="form-group mb-4">
                    <label for="TipoServicio" class="text-dark font-weight-bold">Tipo de servicio</label>
                    <select id="TipoServicio" name="IdTipoServicio" class="form-control border-secondary rounded-pill">
                        <option value="">Elija una opción</option>
                        
                            <option value=""></option>
                        
                    </select>
                </div>
                <div class="form-group mb-4">
                    <label for="Titulo" class="text-dark font-weight-bold">Título del Servicio</label>
                    <input type="text" class="form-control border-secondary rounded-pill" id="Titulo" name="Titulo" placeholder="Ingrese el título del servicio" required />
                </div>
                <div class="form-group mb-4">
                    <label for="Descripcion" class="text-dark font-weight-bold">Descripción del Servicio</label>
                    <textarea class="form-control border-secondary rounded" id="Descripcion" name="Descripcion" rows="4" placeholder="Proporcione una descripción del servicio" required></textarea>
                </div>
                <div class="form-group mb-4">
                    <label for="Presupuesto" class="text-dark font-weight-bold">Presupuesto Estimado</label>
                    <input type="number" class="form-control border-secondary rounded-pill" id="Presupuesto" name="Presupuesto" placeholder="Ingrese el presupuesto estimado" required />
                </div>
                <div class="form-group mb-4">
                    <label for="HorasEstimadas" class="text-dark font-weight-bold">Horas estimadas</label>
                    <input type="number" class="form-control border-secondary rounded-pill" id="HorasEstimadas" name="HorasEstimadas" placeholder="Ingrese las horas estimadas" required />
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-danger btn-lg px-4 py-2 rounded-pill">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
