<section class="py-5 text-center bg-light">
    <div class="container-fluid">
        ¿ Te gustaria agregar un servicio ?
    </div>
    <div class="container-fluid">
        <button class="btn btn-dark text-white btn-lg">Haz clic aquí</button>
    </div>
</section>

<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="p-3 bg-secondary text-white">Columna 1</div>
            </div>
            <div class="col-md-4">
                <div class="p-3 bg-secondary text-white">Columna 2</div>
            </div>
            <div class="col-md-4">
                <div class="p-3 bg-secondary text-white">Columna 3</div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Foto 1">
                <h5 class="mt-3">Título 1</h5>
                <p>Descripción de la foto 1.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Foto 2">
                <h5 class="mt-3">Título 2</h5>
                <p>Descripción de la foto 2.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Foto 3">
                <h5 class="mt-3">Título 3</h5>
                <p>Descripción de la foto 3.</p>
            </div>
        </div>
    </div>
</section>
